
html{
    background-color: rgb(251, 245, 255);
}
h1{
    top:0;
    left: 0;
    height: 50px;
    padding: 15px;
    font-size:40px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(148, 106, 173, 0.801);
    width: 100%;

}
.page-container {
    position: relative;
    min-height: 100vh;
  }

.content-wrap {
    padding-bottom: 25px;    /* Footer height */
  }
  

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;            /* Footer height */
    background-color: rgba(148, 106, 173, 0.356);
    width: 100%;
    font-size:15px;
    line-height: 25px;
    font-family: 'Roboto Mono', monospace;

}

.plus{
    position: relative;
    float:right;
}

.controls{
    margin-top: 50px;
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 75px;
}

.rounded{
    border-radius: 5px;
    overflow: hidden;
}



.editicons {
    position: absolute;
    right: -30;    
    background-color: rgb(251, 245, 255);
    padding: 8px 0;

  }

  table{
    width: 100%;   
   }
  

  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: hsl(0, 0%, 100%)}

  
  th {
    text-align: left;
    padding: 8px 0;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(148, 106, 173, 0.356);
    font-weight: bolder;
    font-size: large;
  }

  td{
    text-align: left;
    padding: 8px 0;
    font-family: 'Roboto Mono', monospace;
      }

 